<div class="tool-bar">

  <ng-container>
    <button #segmentBtn="matButton" [matMenuTriggerFor]="segmentMenu" mat-icon-button color="accent"
      title="Отрезок">1</button>
    <mat-menu #segmentMenu="matMenu">
      <button mat-menu-item (click)="selectTool('CDA')">
        <span>ЦДА</span>
      </button>
      <button mat-menu-item (click)="selectTool('BRESENHAM')">
        <span>Алгоритм Брезенхама</span>
      </button>
      <button mat-menu-item (click)="selectTool('VU')">
        <span>Алгоритм Ву</span>
      </button>
      <button mat-menu-item (click)="selectTool('CIRCLE')">
        <span>Окружность</span>
      </button>
      <button mat-menu-item (click)="selectTool('ELLIPSE')">
        <span>Эллипс</span>
      </button>
      <button mat-menu-item (click)="selectTool('HYPERBOLA')">
        <span>Гиппербола</span>
      </button>
      <button mat-menu-item (click)="selectTool('PARABOLA')">
        <span>Параболла</span>
      </button>
      <button mat-menu-item (click)="selectTool('ERMIT')">
        <span>"Эрмит"</span>
      </button>
    </mat-menu>
  </ng-container>

  <ng-container>
    <button #segmentBtn="matButton" [matMenuTriggerFor]="lab2Menu" mat-icon-button color="accent"
      title="Отрезок">3</button>
    <mat-menu #lab2Menu="matMenu">
      <button mat-menu-item (click)="selectTool('BEZIER')">
        <span>Кривая Безье</span>
      </button>
      <button mat-menu-item (click)="selectTool('B_SPLINE')">
        <span>Б-сплайн</span>
      </button>
      <button mat-menu-item (click)="selectTool('HERMITE')">
        <span>Сплайн Эрмита</span>
      </button>
    </mat-menu>
  </ng-container>

  <ng-container id="сlearTool">
    <button mat-button mat-icon-button color="accent" title="Отчистить" (click)="clearCanvas()">
      <mat-icon>layers_clear</mat-icon>
    </button>
  </ng-container>

  <ng-container id="pizelSizeSettigns">
    <button mat-button [matMenuTriggerFor]="pixelSize" mat-icon-button color="accent" title="Размер пикселей">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #pixelSize="matMenu">
      <button mat-menu-item (click)="selectPixelSize('Smaller')">Smaller</button>
      <button mat-menu-item (click)="selectPixelSize('Small')">Small</button>
      <button mat-menu-item (click)="selectPixelSize('Medium')">Medium</button>
      <button mat-menu-item (click)="selectPixelSize('Large')">Large</button>
      <button mat-menu-item (click)="selectPixelSize('Larger')">Larger</button>
    </mat-menu>
  </ng-container>
  
</div>