<div class="tool-bar d-flex flex-column align-items-center">
  <ng-container id="segmentToolButton">
    <button *ngIf="compareWithCurrToolId(0)" [matMenuTriggerFor]="segmentMenu" mat-mini-fab color="accent">
      <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="!compareWithCurrToolId(0)" [matMenuTriggerFor]="segmentMenu" mat-icon-button color="accent">
      <mat-icon>edit</mat-icon>
    </button>
  </ng-container>
  <ng-container id="segmentToolMenu">
    <mat-menu #segmentMenu="matMenu">
      <button mat-menu-item (click)="selectSegmentTool('CDA')">
        <span>CDA Algorithm</span>
      </button>
      <button mat-menu-item (click)="selectSegmentTool('BRESENHAM')">
        <span>Bresenham Algorithm</span>
      </button>
      <button mat-menu-item (click)="selectSegmentTool('DummyAlgorithm3')">
        <span>Algorithm 3</span>
      </button>
    </mat-menu>
  </ng-container>
</div>