<mat-sidenav-container class="left-side-menu">
	<mat-sidenav #sidenav mode="side" opened [fixedInViewport]="false" [fixedTopGap]="0" [fixedBottomGap]="0">
		<app-tool-bar></app-tool-bar>
	</mat-sidenav>

	<mat-sidenav-content>
		<app-canvas></app-canvas>
	</mat-sidenav-content>

	<mat-sidenav #sidenav mode="side" opened class="right-side-menu" position="end" [fixedInViewport]="false"
		[fixedTopGap]="0" [fixedBottomGap]="0">
		<app-object-property></app-object-property>
	</mat-sidenav>
</mat-sidenav-container>