<mat-sidenav-container class="example-container">
	<mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="false" [fixedTopGap]="0"
		[fixedBottomGap]="0">
		Tools
	</mat-sidenav>

	<mat-sidenav-content>
		Some content, canvas, etc.
	</mat-sidenav-content>

	<mat-sidenav #sidenav mode="side" position="end" opened class="example-sidenav2" [fixedInViewport]="false"
		[fixedTopGap]="0" [fixedBottomGap]="0">
		Object property
		<br>
		Object menu
	</mat-sidenav>
</mat-sidenav-container>