<div class="debug">

  <button mat-mini-fab color="accent" (click)="back()" title="Отрисовать меньше пикселей">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <button mat-mini-fab color="accent" (click)="forward()" title="Отрисовать еще один пиксель">
    <mat-icon>arrow_forward</mat-icon>
  </button>

  <button mat-mini-fab color="accent" (click)="toEnd()" title="Отрисовать полностью">
    <mat-icon>double_arrow</mat-icon>
  </button>

  <button mat-raised-button color="accent" disabled>
    Применить изменения
  </button>

</div>